flows.json
[{"id":"cc198d9.720067","type":"tab","label":"COVID19-TRACKER","disabled":false,"info":""},{"id":"f478d4a3.570278","type":"tab","label":"Tweet Simple","disabled":false,"info":""},{"id":"b78ad39a.ea64b","type":"tab","label":"Tweet Sentiment","disabled":false,"info":""},{"id":"d503b655.240778","type":"tab","label":"Tweet Tone","disabled":false,"info":""},{"id":"41ccf91a.939f88","type":"tab","label":"Tweet Speaker","disabled":false,"info":""},{"id":"73cf6c2f.84e734","type":"tab","label":"Store Tweets","disabled":false,"info":""},{"id":"dc9f7ad3.e40f78","type":"tab","label":"Tweet Dashboard","disabled":false,"info":""},{"id":"1c13148b.bb60fb","type":"tab","label":"Twitter Image Analysis","disabled":false,"info":""},{"id":"a738870a.a13ff8","type":"tab","label":"ibmhack2020","disabled":false,"info":""},{"id":"a5416b20.e3a398","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ea3a5b07.35f818","type":"ui_tab","z":0,"name":"IBM HACK CHALLENGE 2020 [TEAM:SUPERSONICS] Sentiment Analysis Of COVID-19 Tweets-Visualization Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"38baafed.43626","type":"ui_tab","z":0,"name":"Tweet Scoreboard","icon":"dashboard","order":1},{"id":"d836f5c.e5bc108","type":"ui_tab","z":"1c13148b.bb60fb","name":"Twitter Image Analysis","icon":"dashboard","order":2},{"id":"f55be911.b94da8","type":"ui_tab","z":0,"name":"Twitter Analysis","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"29fe2874.522d78","type":"ui_group","z":0,"name":"Covid-19","tab":"ea3a5b07.35f818","order":1,"disp":false,"width":"30","collapse":false},{"id":"1b1e5982.320a56","type":"ui_group","z":0,"name":"Tweet Details","tab":"38baafed.43626","order":1,"disp":true,"width":"10"},{"id":"1bb9edb9.55a062","type":"ui_group","z":0,"name":"Tweet Scoreboard","tab":"38baafed.43626","order":2,"disp":true,"width":"6"},{"id":"6c309c61.c5cb64","type":"ui_group","z":"1c13148b.bb60fb","name":"Tweet","tab":"d836f5c.e5bc108","order":1,"disp":true,"width":"9"},{"id":"e647df2c.e297b","type":"ui_group","z":0,"name":"Results","tab":"d836f5c.e5bc108","order":2,"disp":true,"width":"9"},{"id":"463d7f99.4eb62","type":"ui_group","z":0,"name":"Sentiment","tab":"d836f5c.e5bc108","order":3,"disp":false,"width":"8"},{"id":"dab40427.7b8ad8","type":"ui_group","z":0,"name":"Survivor Requests / Tracking","tab":"f55be911.b94da8","order":1,"disp":true,"width":"24","collapse":false},{"id":"6ae60c25.881a24","type":"twitter-credentials","z":0,"screen_name":"1230157380018565120"},{"id":"b1eba38c.97f5a","type":"twilio-api","z":"b78ad39a.ea64b","name":"My Twilio","sid":"","from":""},{"id":"dabf2770.9894e8","type":"twilio-api","z":"41ccf91a.939f88","name":"My Twilio","sid":"","from":""},{"id":"91d1c998.ca6ad8","type":"twilio-api","z":"41ccf91a.939f88","name":"My Twilio","sid":"","from":""},{"id":"d53d2bab.600258","type":"twilio-api","z":"dc9f7ad3.e40f78","name":"My Twilio","sid":"","from":""},{"id":"d10aa6ea.86ecd8","type":"twitter-api-connection","z":0,"consumerKey":"s1qOCB5Hl5rlVLgkMInGfJkF1","consumerSecret":"J38qvLRd7kZAcq2jO6HJaCld6DAVMbSzXo0O36UlUTK0H4xnoP","accessToken":"1272772905911255040-BbzVkuqzvzwlZhcu6CjrPUnMIuDlHL","accessSecret":"zovTNGuoG3254D97ts04YcMgJhNuRaJyID5UxJUGx5Eji"},{"id":"2454240a.62ce9c","type":"switch","z":"cc198d9.720067","name":"","property":"payload.truncated","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":400,"wires":[["51c876a8.5e6ff8"],["983b0bdf.d5d768"]]},{"id":"26444f92.5581a","type":"debug","z":"cc198d9.720067","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":260,"wires":[]},{"id":"51c876a8.5e6ff8","type":"change","z":"cc198d9.720067","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.extended_tweet.full_text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["ceb3840e.b287c8","7af85234.6f43bc"]]},{"id":"983b0bdf.d5d768","type":"change","z":"cc198d9.720067","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":420,"wires":[["ce5ee931.de3c38","7af85234.6f43bc"]]},{"id":"ceb3840e.b287c8","type":"debug","z":"cc198d9.720067","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":760,"y":380,"wires":[]},{"id":"ce5ee931.de3c38","type":"debug","z":"cc198d9.720067","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":760,"y":420,"wires":[]},{"id":"a9b05380.773bf","type":"debug","z":"cc198d9.720067","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"sentiment.score","targetType":"msg","x":950,"y":480,"wires":[]},{"id":"511e0505.5bbc6c","type":"debug","z":"cc198d9.720067","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":760,"y":260,"wires":[]},{"id":"bfaec08e.4225d","type":"change","z":"cc198d9.720067","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":320,"wires":[["1358435b.943edd","511e0505.5bbc6c"]]},{"id":"11903e5b.c0d462","type":"debug","z":"cc198d9.720067","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1100,"y":720,"wires":[]},{"id":"6bbb49f3.8e1cd8","type":"debug","z":"cc198d9.720067","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1100,"y":840,"wires":[]},{"id":"793dd406.b3ff6c","type":"delay","z":"cc198d9.720067","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1110,"y":660,"wires":[["94ae8f7f.f8826","1476ae07.16ae62"]]},{"id":"66bb76e9.150908","type":"change","z":"cc198d9.720067","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"100Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":660,"wires":[["11903e5b.c0d462","793dd406.b3ff6c"]]},{"id":"ef23223.da4bee","type":"change","z":"cc198d9.720067","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"1000Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":780,"wires":[["6bbb49f3.8e1cd8","259a309c.80e6b"]]},{"id":"259a309c.80e6b","type":"delay","z":"cc198d9.720067","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1110,"y":780,"wires":[["83cdb866.6ef0b8","1476ae07.16ae62"]]},{"id":"94ae8f7f.f8826","type":"debug","z":"cc198d9.720067","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1300,"y":660,"wires":[]},{"id":"83cdb866.6ef0b8","type":"debug","z":"cc198d9.720067","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1300,"y":780,"wires":[]},{"id":"5d271eb0.1c96c","type":"debug","z":"cc198d9.720067","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1100,"y":600,"wires":[]},{"id":"54114c30.621f74","type":"delay","z":"cc198d9.720067","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1110,"y":540,"wires":[["ae463944.994d98","1476ae07.16ae62"]]},{"id":"5874baa3.2d6494","type":"change","z":"cc198d9.720067","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"20Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":540,"wires":[["5d271eb0.1c96c","54114c30.621f74"]]},{"id":"ae463944.994d98","type":"debug","z":"cc198d9.720067","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1300,"y":540,"wires":[]},{"id":"55a7bd71.6ceca4","type":"debug","z":"f478d4a3.570278","name":"msg.tweet details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":490,"y":60,"wires":[]},{"id":"cb02850e.6b9438","type":"function","z":"f478d4a3.570278","name":"Remove URLS and replace #","func":"// var tweet = msg.tweet.text;\nvar tweet = msg.payload;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2} biz com co edu gov info net org ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+ $)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["3817a14e.2d94fe"]]},{"id":"3817a14e.2d94fe","type":"debug","z":"f478d4a3.570278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":140,"wires":[]},{"id":"604b0527.5c66bc","type":"debug","z":"f478d4a3.570278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.text","targetType":"msg","x":480,"y":100,"wires":[]},{"id":"cc59f128.3e98f","type":"comment","z":"f478d4a3.570278","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"582322fb.c8191c","type":"debug","z":"b78ad39a.ea64b","name":"Positive Tweet debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":280,"wires":[]},{"id":"93de3ce.1f8cec","type":"switch","z":"b78ad39a.ea64b","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":610,"y":340,"wires":[["582322fb.c8191c"],["f962da54.f93518"]]},{"id":"72fd8048.53d67","type":"debug","z":"b78ad39a.ea64b","name":"msg.sentiment.score","active":true,"console":"false","complete":"sentiment.score","x":600,"y":300,"wires":[]},{"id":"16c14d04.5c00a3","type":"debug","z":"b78ad39a.ea64b","name":"msg.tweet details","active":true,"console":"false","complete":"tweet","x":490,"y":60,"wires":[]},{"id":"f962da54.f93518","type":"debug","z":"b78ad39a.ea64b","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":900,"y":400,"wires":[]},{"id":"d487e64.d2d6018","type":"function","z":"b78ad39a.ea64b","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["78559d19.8630d4","c5dab511.515168"]]},{"id":"78559d19.8630d4","type":"debug","z":"b78ad39a.ea64b","name":"","active":true,"console":"false","complete":"false","x":790,"y":140,"wires":[]},{"id":"135a9ccd.7b2fa3","type":"debug","z":"b78ad39a.ea64b","name":"","active":true,"console":"false","complete":"tweet.text","x":480,"y":100,"wires":[]},{"id":"6495f41f.d0ea9c","type":"comment","z":"b78ad39a.ea64b","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"40dd182f.d320a8","type":"debug","z":"d503b655.240778","name":"msg.tweet details","active":true,"console":"false","complete":"tweet","x":490,"y":60,"wires":[]},{"id":"8cb1229c.e990c","type":"function","z":"d503b655.240778","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2} biz com co edu gov info net org ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+ $)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["71c3cf7b.ed63e","281216e8.2514ba"]]},{"id":"71c3cf7b.ed63e","type":"debug","z":"d503b655.240778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":140,"wires":[]},{"id":"7fe5c905.aeceb8","type":"debug","z":"d503b655.240778","name":"","active":true,"console":"false","complete":"tweet.text","x":480,"y":100,"wires":[]},{"id":"bb38ed6a.829f4","type":"inject","z":"d503b655.240778","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":200,"wires":[["c5cc2602.5cf428"]]},{"id":"c5cc2602.5cf428","type":"change","z":"d503b655.240778","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["8cb1229c.e990c"]]},{"id":"77697413.c396ec","type":"inject","z":"d503b655.240778","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["c5cc2602.5cf428"]]},{"id":"9acb1251.4167","type":"inject","z":"d503b655.240778","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["c5cc2602.5cf428"]]},{"id":"866f06d8.13bdb8","type":"comment","z":"d503b655.240778","name":"Paste API keys for Watson Tone Analyzer","info":"1. Log into IBM Cloud\n2. Create an instance of the \nWatson Tone Analyzer service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.\n\nOr\n1. Open this Cloud Foundry Node-RED Starter App\n2. Create a new Connection\n3. Bind the Watson Tone Analyzer service\n4. Restage your Cloud Foundry application","x":250,"y":380,"wires":[]},{"id":"270f8878.301578","type":"debug","z":"d503b655.240778","name":"Tone categories","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":340,"wires":[]},{"id":"76b9adb0.3c2db4","type":"function","z":"d503b655.240778","name":"High Score","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["57651e0e.4ec1","5b9c636c.e564dc"]]},{"id":"57651e0e.4ec1","type":"debug","z":"d503b655.240778","name":"Score","active":true,"console":"false","complete":"topic","x":750,"y":380,"wires":[]},{"id":"cd1b65b.0d58498","type":"debug","z":"d503b655.240778","name":"Print msg.response","active":true,"console":"false","complete":"response","x":570,"y":300,"wires":[]},{"id":"281216e8.2514ba","type":"watson-tone-analyzer-v3","z":"d503b655.240778","name":"Analyze Tone","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","inputlang":"en","service-endpoint":"","x":340,"y":340,"wires":[["76b9adb0.3c2db4","cd1b65b.0d58498","c5ae83c3.14b3a"]]},{"id":"c5ae83c3.14b3a","type":"change","z":"d503b655.240778","name":"tone_categories","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["270f8878.301578"]]},{"id":"5b9c636c.e564dc","type":"switch","z":"d503b655.240778","name":"Select Emotion","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"}],"checkall":"true","outputs":5,"x":340,"y":600,"wires":[["fee922b7.ab189"],["dff3ca00.8f8568"],["e3d848f5.bc1458"],["46e4383b.586798"],["a6cdcf78.52895"]]},{"id":"84587a35.5152a8","type":"comment","z":"d503b655.240778","name":"Extract highest emotion","info":"","x":760,"y":420,"wires":[]},{"id":"dff3ca00.8f8568","type":"change","z":"d503b655.240778","name":"Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":560,"wires":[["84c4adba.3c13d"]]},{"id":"46e4383b.586798","type":"change","z":"d503b655.240778","name":"Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[["84c4adba.3c13d"]]},{"id":"e3d848f5.bc1458","type":"change","z":"d503b655.240778","name":"Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":600,"wires":[["84c4adba.3c13d"]]},{"id":"fee922b7.ab189","type":"change","z":"d503b655.240778","name":"Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":520,"wires":[["84c4adba.3c13d"]]},{"id":"a6cdcf78.52895","type":"change","z":"d503b655.240778","name":"Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"221,160,221","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":680,"wires":[["84c4adba.3c13d"]]},{"id":"84c4adba.3c13d","type":"template","z":"d503b655.240778","name":"Score tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This tweet expresses {{topic}} - {{tweet.text}}","output":"str","x":750,"y":600,"wires":[["92259b60.c7ab78"]]},{"id":"92259b60.c7ab78","type":"debug","z":"d503b655.240778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":600,"wires":[]},{"id":"b322a94b.d406d8","type":"comment","z":"d503b655.240778","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"d376dcb5.30007","type":"debug","z":"41ccf91a.939f88","name":"Positive Tweet debug","active":true,"console":"false","complete":"payload","x":920,"y":280,"wires":[]},{"id":"68b48bf4.b519d4","type":"switch","z":"41ccf91a.939f88","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":610,"y":340,"wires":[["d376dcb5.30007"],["15426b9a.ba52e4"]]},{"id":"539469d1.593268","type":"debug","z":"41ccf91a.939f88","name":"msg.sentiment.score","active":true,"console":"false","complete":"sentiment.score","x":600,"y":300,"wires":[]},{"id":"608f58f4.a18498","type":"debug","z":"41ccf91a.939f88","name":"msg.tweet details","active":false,"console":"false","complete":"tweet","x":490,"y":60,"wires":[]},{"id":"15426b9a.ba52e4","type":"debug","z":"41ccf91a.939f88","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":900,"y":400,"wires":[]},{"id":"f84c56a8.51b018","type":"function","z":"41ccf91a.939f88","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2} biz com co edu gov info net org ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+ $)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["1d2f17e1.2589b8","b92a953b.a90f78"]]},{"id":"1d2f17e1.2589b8","type":"debug","z":"41ccf91a.939f88","name":"","active":true,"console":"false","complete":"false","x":790,"y":140,"wires":[]},{"id":"96ad0ce8.05d12","type":"debug","z":"41ccf91a.939f88","name":"","active":true,"console":"false","complete":"tweet.text","x":480,"y":100,"wires":[]},{"id":"e7d3e4d8.bba088","type":"watson-text-to-speech","z":"41ccf91a.939f88","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"jO4ZZaRdh_OvIg61fDIvmZ4Ul9SxhETcDyCF8GhulUAh","payload-response":true,"service-endpoint":"","x":540,"y":520,"wires":[["b0d730a8.a50c3"]]},{"id":"c50e8769.1ba118","type":"comment","z":"41ccf91a.939f88","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Text to Speech\n  Speech to Text\n  Tone Analyzer\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":510,"y":560,"wires":[]},{"id":"21f33407.3a9a9c","type":"comment","z":"41ccf91a.939f88","name":"node-red-contrib-play-audio dependency","info":"This flow requires the\n  node-red-contrib-play-audio\nfor the Browser play audio node.\nYou can either \n  $ sudo npm -g install node-red-contrib-play-audio\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":800,"y":560,"wires":[]},{"id":"3c31195a.ee7976","type":"delay","z":"41ccf91a.939f88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":520,"wires":[["e7d3e4d8.bba088"]]},{"id":"6bdd4bcf.0a6b34","type":"comment","z":"41ccf91a.939f88","name":"Paste API keys for Watson Text to Speech","info":"1. Log into IBM Cloud\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.\n\nOr\n1. Open this Cloud Foundry Node-RED Starter App\n2. Create a new Connection\n3. Bind the Watson Text to Speech service\n4. Restage your Cloud Foundry application","x":560,"y":480,"wires":[]},{"id":"2b6cd700.f7fff8","type":"inject","z":"41ccf91a.939f88","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":200,"wires":[["2732479a.d60268"]]},{"id":"2732479a.d60268","type":"change","z":"41ccf91a.939f88","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["f84c56a8.51b018"]]},{"id":"db8c5daf.ca09c","type":"inject","z":"41ccf91a.939f88","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["2732479a.d60268"]]},{"id":"5d346943.b6e5c8","type":"inject","z":"41ccf91a.939f88","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["2732479a.d60268"]]},{"id":"3fb2d572.d592ca","type":"comment","z":"41ccf91a.939f88","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"17dcfc7.c4b8e04","type":"debug","z":"73cf6c2f.84e734","name":"Positive Tweet debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":280,"wires":[]},{"id":"f23c70c5.2e412","type":"switch","z":"73cf6c2f.84e734","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":610,"y":340,"wires":[["17dcfc7.c4b8e04"],["106b66dc.562a09"]]},{"id":"8aca8af3.8bce48","type":"debug","z":"73cf6c2f.84e734","name":"msg.sentiment.score","active":true,"console":"false","complete":"sentiment.score","x":600,"y":300,"wires":[]},{"id":"124b92e8.6f2fbd","type":"debug","z":"73cf6c2f.84e734","name":"msg.tweet details","active":true,"console":"false","complete":"tweet","x":490,"y":60,"wires":[]},{"id":"106b66dc.562a09","type":"debug","z":"73cf6c2f.84e734","name":"Negative Tweets","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":400,"wires":[]},{"id":"60db4f4.e4cd8b","type":"function","z":"73cf6c2f.84e734","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2} biz com co edu gov info net org ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+ $)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["15ebce08.044262","6f938076.25a94"]]},{"id":"15ebce08.044262","type":"debug","z":"73cf6c2f.84e734","name":"","active":true,"console":"false","complete":"false","x":790,"y":140,"wires":[]},{"id":"78b5b0d7.2ed1f","type":"debug","z":"73cf6c2f.84e734","name":"","active":true,"console":"false","complete":"tweet.text","x":480,"y":100,"wires":[]},{"id":"2246329f.0eafbe","type":"function","z":"73cf6c2f.84e734","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["6f7ce81b.ddeea8"]]},{"id":"409c5e35.9f45b","type":"delay","z":"73cf6c2f.84e734","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":520,"wires":[["2246329f.0eafbe"]]},{"id":"6f7ce81b.ddeea8","type":"cloudant out","z":"73cf6c2f.84e734","name":"","cloudant":"","database":"tweetdata","service":"node-red-uktcj-cloudant-1593236306293-70783","payonly":true,"operation":"insert","x":760,"y":520,"wires":[]},{"id":"af224901.d6af38","type":"comment","z":"73cf6c2f.84e734","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"a25b94a0.167088","type":"debug","z":"dc9f7ad3.e40f78","name":"Positive Tweet debug","active":false,"console":"false","complete":"payload","x":920,"y":280,"wires":[]},{"id":"f54aa6df.625738","type":"switch","z":"dc9f7ad3.e40f78","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":610,"y":340,"wires":[["a25b94a0.167088"],["928ffe32.a0276"]]},{"id":"16974683.f62799","type":"debug","z":"dc9f7ad3.e40f78","name":"msg.sentiment.score","active":false,"console":"false","complete":"sentiment.score","x":600,"y":300,"wires":[]},{"id":"d1f09de8.c49c3","type":"debug","z":"dc9f7ad3.e40f78","name":"msg.tweet details","active":false,"console":"false","complete":"tweet","x":490,"y":60,"wires":[]},{"id":"928ffe32.a0276","type":"debug","z":"dc9f7ad3.e40f78","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":900,"y":400,"wires":[]},{"id":"c8068402.16c118","type":"function","z":"dc9f7ad3.e40f78","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2} biz com co edu gov info net org ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+ $)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["22906ef1.0fe2f2","5a667db4.560124"]]},{"id":"22906ef1.0fe2f2","type":"debug","z":"dc9f7ad3.e40f78","name":"","active":true,"console":"false","complete":"payload","x":790,"y":140,"wires":[]},{"id":"aec4e488.f63188","type":"debug","z":"dc9f7ad3.e40f78","name":"","active":false,"console":"false","complete":"tweet.text","x":480,"y":100,"wires":[]},{"id":"97a58c38.4adb","type":"function","z":"dc9f7ad3.e40f78","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["19c3d734.8d9ac9"]]},{"id":"17b5b45e.91cb2c","type":"delay","z":"dc9f7ad3.e40f78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":520,"wires":[["ddbc3579.5e1c08","4c072ce0.ec0544","97a58c38.4adb"]]},{"id":"19c3d734.8d9ac9","type":"cloudant out","z":"dc9f7ad3.e40f78","name":"","cloudant":"","database":"tweetdata","service":"node-red-uktcj-cloudant-1593236306293-70783","payonly":true,"operation":"insert","x":760,"y":520,"wires":[]},{"id":"ddbc3579.5e1c08","type":"change","z":"dc9f7ad3.e40f78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["acaaa546.0cd778"]]},{"id":"4c072ce0.ec0544","type":"change","z":"dc9f7ad3.e40f78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["8086e86c.5efa18","e1a7019b.350e"]]},{"id":"df74b39.8a3d85","type":"inject","z":"dc9f7ad3.e40f78","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":200,"wires":[["37a77aed.76d416"]]},{"id":"37a77aed.76d416","type":"change","z":"dc9f7ad3.e40f78","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["c8068402.16c118"]]},{"id":"572587f.3f76b78","type":"inject","z":"dc9f7ad3.e40f78","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["37a77aed.76d416"]]},{"id":"ccb507fc.f3c2f8","type":"inject","z":"dc9f7ad3.e40f78","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["37a77aed.76d416"]]},{"id":"5fdad720.2623a8","type":"comment","z":"dc9f7ad3.e40f78","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"6899277b.021e98","type":"comment","z":"1c13148b.bb60fb","name":"Reload picture into Node-RED Dashboard","info":"<script>\n    window.location.reload(false); \n</script>","x":1060,"y":280,"wires":[]},{"id":"abd3f237.20146","type":"function","z":"1c13148b.bb60fb","name":"Extract Twitter Image URL","func":"msg.payload = \"\";\nif (typeof msg.tweet.entities.media !== 'undefined') {\n  if (typeof msg.tweet.entities.media[0].media_url !== 'undefined') {\n    msg.payload = msg.tweet.entities.media[0].media_url;\n  }  \n}\n\nif (typeof msg.tweet.extended_tweet !== 'undefined') {\n    if (typeof msg.tweet.extended_tweet.entities !== 'undefined') {\n        if (typeof msg.tweet.extended_tweet.entities.media !== 'undefined') {\n            if (typeof msg.tweet.extended_tweet.entities.media[0].media_url !== 'undefined') {\n                    msg.payload = msg.tweet.entities.media[0].media_url;\n            }\n        }\n    }\n}\n\nif(typeof msg.tweet.retweeted_status !== 'undefined') {\n    if( typeof msg.tweet.retweeted_status.extended_tweet !== 'undefined') {\n        if( typeof msg.tweet.retweeted_status.extended_tweet.entities !== 'undefined') {\n            if( typeof msg.tweet.retweeted_status.extended_tweet.entities.media[0].media_url !== 'undefined') {\n                msg.payload = msg.tweet.retweeted_status.extended_tweet.entities.media[0].media_url;\n            }\n        }\n    }\n}\n\n\nif( msg.payload.length ) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":"2","noerr":0,"x":370,"y":260,"wires":[["64d958b.07f4fa8","7885adf7.99dc44","d82f7927.4a68f8","5f837fde.47c8a","b6b5655f.b56298","1f592fbe.480bf"],[]]},{"id":"64d958b.07f4fa8","type":"debug","z":"1c13148b.bb60fb","name":"Image URL to analyze","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":240,"wires":[]},{"id":"a51df829.bd0fe8","type":"debug","z":"1c13148b.bb60fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":830,"y":400,"wires":[]},{"id":"7885adf7.99dc44","type":"visual-recognition-v3","z":"1c13148b.bb60fb","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"en","x":610,"y":360,"wires":[["a51df829.bd0fe8","3e24b43e.48afcc"]]},{"id":"a882baf.1599148","type":"debug","z":"1c13148b.bb60fb","name":"","active":true,"console":"false","complete":"tweet","x":580,"y":80,"wires":[]},{"id":"e2150d20.4f4fe","type":"inject","z":"1c13148b.bb60fb","name":"Rhino","topic":"","payload":"{\"created_at\":\"Sat Sep 23 14:19:37 +0000 2017\",\"id\":911595915168899100,\"id_str\":\"911595915168899072\",\"text\":\"RT @IBM: Watch how a new solution is harnessing the power of #IBMIot to combat the poaching of endangered 🦏:... \",\"source\":\"<a href=\\\"http://twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":2577403879,\"id_str\":\"2577403879\",\"name\":\"John Walicki\",\"screen_name\":\"johnwalicki\",\"location\":\"New Jersey, USA\",\"url\":null,\"description\":\"IBM Watson Internet of Things Developer Advocate, Über Geek, Family Guy. #IoT #OpenSource, #Linux, #AI My tweets are my own.\",\"translator_type\":\"none\",\"protected\":false,\"verified\":false,\"followers_count\":646,\"friends_count\":850,\"listed_count\":153,\"favourites_count\":1770,\"statuses_count\":1473,\"created_at\":\"Thu Jun 19 19:54:32 +0000 2014\",\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":false,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_image_url_https\":\"https://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_tile\":false,\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/2577403879/1476478381\",\"default_profile\":true,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Fri Sep 22 13:15:04 +0000 2017\",\"id\":911217282067714000,\"id_str\":\"911217282067714048\",\"text\":\"Watch how a new solution is harnessing the power of #IBMIot to combat the poaching of endangered 🦏:... https://t.co/91BD2uZqFk\",\"display_text_range\":[0,140],\"source\":\"<a href=\\\"https://www.sprinklr.com\\\" rel=\\\"nofollow\\\">Sprinklr</a>\",\"truncated\":true,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":18994444,\"id_str\":\"18994444\",\"name\":\"IBM\",\"screen_name\":\"IBM\",\"location\":\"Armonk, New York\",\"url\":\"http://www.ibm.com\",\"description\":\"Official IBM Twitter account. Follows the IBM Social Computing Guidelines.\",\"translator_type\":\"none\",\"protected\":false,\"verified\":true,\"followers_count\":396044,\"friends_count\":6427,\"listed_count\":5154,\"favourites_count\":2637,\"statuses_count\":9814,\"created_at\":\"Wed Jan 14 20:41:57 +0000 2009\",\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US & Canada)\",\"geo_enabled\":false,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"FFFFFF\",\"profile_background_image_url\":\"http://pbs.twimg.com/profile_background_images/378800000152426467/Viwc1IvP.jpeg\",\"profile_background_image_url_https\":\"https://pbs.twimg.com/profile_background_images/378800000152426467/Viwc1IvP.jpeg\",\"profile_background_tile\":false,\"profile_link_color\":\"2FC2EF\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"252429\",\"profile_text_color\":\"666666\",\"profile_use_background_image\":false,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/875111316821651456/AmZkYTWP_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/875111316821651456/AmZkYTWP_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/18994444/1495457811\",\"default_profile\":false,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"extended_tweet\":{\"full_text\":\"Watch how a new solution is harnessing the power of #IBMIot to combat the poaching of endangered 🦏: https://t.co/zL55BXKLFq #WorldRhinoDay https://t.co/eBpZmbbnB7\",\"display_text_range\":[0,138],\"entities\":{\"hashtags\":[{\"text\":\"IBMIot\",\"indices\":[52,59]},{\"text\":\"WorldRhinoDay\",\"indices\":[124,138]}],\"urls\":[{\"url\":\"https://t.co/zL55BXKLFq\",\"expanded_url\":\"http://bitly.com/2hknTRt\",\"display_url\":\"bitly.com/2hknTRt\",\"indices\":[100,123]}],\"user_mentions\":[],\"symbols\":[],\"media\":[{\"id\":911217279353880600,\"id_str\":\"911217279353880576\",\"indices\":[139,162],\"media_url\":\"http://pbs.twimg.com/media/DKVLSakWAAAc3Fl.jpg\",\"media_url_https\":\"https://pbs.twimg.com/media/DKVLSakWAAAc3Fl.jpg\",\"url\":\"https://t.co/eBpZmbbnB7\",\"display_url\":\"pic.twitter.com/eBpZmbbnB7\",\"expanded_url\":\"https://twitter.com/IBM/status/911217282067714048/photo/1\",\"type\":\"photo\",\"sizes\":{\"small\":{\"w\":680,\"h\":453,\"resize\":\"fit\"},\"medium\":{\"w\":1024,\"h\":682,\"resize\":\"fit\"},\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"large\":{\"w\":1024,\"h\":682,\"resize\":\"fit\"}}}]},\"extended_entities\":{\"media\":[{\"id\":911217279353880600,\"id_str\":\"911217279353880576\",\"indices\":[139,162],\"media_url\":\"http://pbs.twimg.com/media/DKVLSakWAAAc3Fl.jpg\",\"media_url_https\":\"https://pbs.twimg.com/media/DKVLSakWAAAc3Fl.jpg\",\"url\":\"https://t.co/eBpZmbbnB7\",\"display_url\":\"pic.twitter.com/eBpZmbbnB7\",\"expanded_url\":\"https://twitter.com/IBM/status/911217282067714048/photo/1\",\"type\":\"photo\",\"sizes\":{\"small\":{\"w\":680,\"h\":453,\"resize\":\"fit\"},\"medium\":{\"w\":1024,\"h\":682,\"resize\":\"fit\"},\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"large\":{\"w\":1024,\"h\":682,\"resize\":\"fit\"}}}]}},\"quote_count\":2,\"reply_count\":0,\"retweet_count\":35,\"favorite_count\":46,\"entities\":{\"hashtags\":[{\"text\":\"IBMIot\",\"indices\":[52,59]}],\"urls\":[{\"url\":\"https://t.co/91BD2uZqFk\",\"expanded_url\":\"https://twitter.com/i/web/status/911217282067714048\",\"display_url\":\"twitter.com/i/web/status/9...\",\"indices\":[101,124]}],\"user_mentions\":[],\"symbols\":[]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"filter_level\":\"low\",\"lang\":\"en\"},\"is_quote_status\":false,\"quote_count\":0,\"reply_count\":0,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[{\"text\":\"IBMIot\",\"indices\":[61,68]}],\"urls\":[],\"user_mentions\":[{\"screen_name\":\"IBM\",\"name\":\"IBM\",\"id\":18994444,\"id_str\":\"18994444\",\"indices\":[3,7]}],\"symbols\":[]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"filter_level\":\"low\",\"lang\":\"en\",\"timestamp_ms\":\"1506176377466\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":460,"wires":[["2ea6af8d.49543"]]},{"id":"2ea6af8d.49543","type":"change","z":"1c13148b.bb60fb","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":440,"wires":[["abd3f237.20146","b2aae275.69ebd"]]},{"id":"e416186.d7098e8","type":"comment","z":"1c13148b.bb60fb","name":"Sample Tweets with images","info":"","x":150,"y":380,"wires":[]},{"id":"3e24b43e.48afcc","type":"function","z":"1c13148b.bb60fb","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n//            bestItem = i;\n            bestItem = 0;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":360,"wires":[["8f74357e.947db8","d06b7c99.d1ee9"]]},{"id":"8f74357e.947db8","type":"debug","z":"1c13148b.bb60fb","name":"What did Watson find?","active":true,"console":"false","complete":"payload","x":1080,"y":400,"wires":[]},{"id":"5f837fde.47c8a","type":"change","z":"1c13148b.bb60fb","name":"Tweet Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":200,"wires":[["c3396027.d94c7","32794080.fe4a3"]]},{"id":"dd861d9d.ca8b5","type":"inject","z":"1c13148b.bb60fb","name":"Curtain","topic":"","payload":"{\"created_at\":\"Sat Sep 23 17:48:40 +0000 2017\",\"id\":911648524663709700,\"id_str\":\"911648524663709698\",\"text\":\"Breaking 2 @NikeRunning @NatGeo https://t.co/aAygp48EAq\",\"display_text_range\":[0,31],\"source\":\"<a href=\\\"http://twitter.com/download/iphone\\\" rel=\\\"nofollow\\\">Twitter for iPhone</a>\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":109308126,\"id_str\":\"109308126\",\"name\":\"Jrmi\",\"screen_name\":\"JeremieRoturier\",\"location\":\"London, England\",\"url\":\"http://jeremieroturier.com\",\"description\":\"Sportsaholic and writing junkie. Member of @JolieFoulee, founder of @EtoileFO. Take pics for quality football magazines. Work at @Apple x @beatsbydre. Ex @Nike.\",\"translator_type\":\"none\",\"protected\":false,\"verified\":false,\"followers_count\":472,\"friends_count\":665,\"listed_count\":24,\"favourites_count\":631,\"statuses_count\":4333,\"created_at\":\"Thu Jan 28 16:42:30 +0000 2010\",\"utc_offset\":7200,\"time_zone\":\"Paris\",\"geo_enabled\":true,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"8C12FF\",\"profile_background_image_url\":\"http://pbs.twimg.com/profile_background_images/106316656/chat_noir.jpg\",\"profile_background_image_url_https\":\"https://pbs.twimg.com/profile_background_images/106316656/chat_noir.jpg\",\"profile_background_tile\":true,\"profile_link_color\":\"85459E\",\"profile_sidebar_border_color\":\"8956B3\",\"profile_sidebar_fill_color\":\"030303\",\"profile_text_color\":\"17BEE8\",\"profile_use_background_image\":true,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/730899031162036224/_8p6sEXu_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/730899031162036224/_8p6sEXu_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/109308126/1472307658\",\"default_profile\":false,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":{\"id\":\"3078869807f9dd36\",\"url\":\"https://api.twitter.com/1.1/geo/id/3078869807f9dd36.json\",\"place_type\":\"city\",\"name\":\"Berlin\",\"full_name\":\"Berlin, Germany\",\"country_code\":\"DE\",\"country\":\"Germany\",\"bounding_box\":{\"type\":\"Polygon\",\"coordinates\":[[[13.088304,52.338079],[13.088304,52.675323],[13.760909,52.675323],[13.760909,52.338079]]]},\"attributes\":{}},\"contributors\":null,\"is_quote_status\":false,\"quote_count\":0,\"reply_count\":0,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"urls\":[],\"user_mentions\":[{\"screen_name\":\"NikeRunning\",\"name\":\"Nike+ Run Club\",\"id\":337726224,\"id_str\":\"337726224\",\"indices\":[11,23]},{\"screen_name\":\"NatGeo\",\"name\":\"National Geographic\",\"id\":17471979,\"id_str\":\"17471979\",\"indices\":[24,31]}],\"symbols\":[],\"media\":[{\"id\":911648512970051600,\"id_str\":\"911648512970051585\",\"indices\":[32,55],\"media_url\":\"http://pbs.twimg.com/media/DKbTfg-X0AEAI9P.jpg\",\"media_url_https\":\"https://pbs.twimg.com/media/DKbTfg-X0AEAI9P.jpg\",\"url\":\"https://t.co/aAygp48EAq\",\"display_url\":\"pic.twitter.com/aAygp48EAq\",\"expanded_url\":\"https://twitter.com/JeremieRoturier/status/911648524663709698/photo/1\",\"type\":\"photo\",\"sizes\":{\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"large\":{\"w\":1776,\"h\":1184,\"resize\":\"fit\"},\"medium\":{\"w\":1200,\"h\":800,\"resize\":\"fit\"},\"small\":{\"w\":680,\"h\":453,\"resize\":\"fit\"}}}]},\"extended_entities\":{\"media\":[{\"id\":911648512970051600,\"id_str\":\"911648512970051585\",\"indices\":[32,55],\"media_url\":\"http://pbs.twimg.com/media/DKbTfg-X0AEAI9P.jpg\",\"media_url_https\":\"https://pbs.twimg.com/media/DKbTfg-X0AEAI9P.jpg\",\"url\":\"https://t.co/aAygp48EAq\",\"display_url\":\"pic.twitter.com/aAygp48EAq\",\"expanded_url\":\"https://twitter.com/JeremieRoturier/status/911648524663709698/photo/1\",\"type\":\"photo\",\"sizes\":{\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"large\":{\"w\":1776,\"h\":1184,\"resize\":\"fit\"},\"medium\":{\"w\":1200,\"h\":800,\"resize\":\"fit\"},\"small\":{\"w\":680,\"h\":453,\"resize\":\"fit\"}}}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"filter_level\":\"low\",\"lang\":\"en\",\"timestamp_ms\":\"1506188920547\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":420,"wires":[["2ea6af8d.49543"]]},{"id":"55a2f0b1.498bf","type":"comment","z":"1c13148b.bb60fb","name":"Paste API keys for Visual Recognition","info":"1. Log into IBM Cloud\n2. Create an instance of the \nWatson Visual Recognition service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":580,"y":400,"wires":[]},{"id":"b2aae275.69ebd","type":"debug","z":"1c13148b.bb60fb","name":"","active":true,"console":"false","complete":"false","x":590,"y":440,"wires":[]},{"id":"c0cbfa4f.c66a48","type":"delay","z":"1c13148b.bb60fb","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":80,"wires":[["abd3f237.20146","a882baf.1599148"]]},{"id":"2bd05257.c879be","type":"change","z":"1c13148b.bb60fb","name":"Sentiment Score","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":160,"wires":[["32d33781.9114f8"]]},{"id":"b6b5655f.b56298","type":"change","z":"1c13148b.bb60fb","name":"Twitter Handle","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.user.screen_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["5426d993.331928"]]},{"id":"1f592fbe.480bf","type":"function","z":"1c13148b.bb60fb","name":"Tweet URL","func":"msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.user.screen_name+\"/status/\"+msg.tweet.id_str+\"\\\">Open Tweet</a>\";\nif( typeof msg.payload.retweeted_status != 'undefined') {\n    msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.retweeted_status.user.screen_name+\"/status/\"+msg.tweet.retweeted_status.id_str+\"\\\">Open Tweet</a>\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["4ef21e02.9df9","db318315.5a035"]]},{"id":"db318315.5a035","type":"debug","z":"1c13148b.bb60fb","name":"","active":true,"console":"false","complete":"false","x":830,"y":80,"wires":[]},{"id":"6adfd014.4297d","type":"comment","z":"a738870a.a13ff8","name":"Reload picture into Node-RED Dashboard","info":"<script>\n    window.location.reload(false); \n</script>","x":1120,"y":420,"wires":[]},{"id":"d1a99a5a.776528","type":"function","z":"a738870a.a13ff8","name":"Extract Twitter Image URL","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet === 'undefined') {\n   return null;\n}\n\nmsg.payload = \"\";\nif (typeof msg.tweet.entities.media !== 'undefined') {\n  if (typeof msg.tweet.entities.media[0].media_url !== 'undefined') {\n    msg.payload = msg.tweet.entities.media[0].media_url;\n  }  \n}\n\nif (typeof msg.tweet.extended_tweet !== 'undefined') {\n    if (typeof msg.tweet.extended_tweet.entities !== 'undefined') {\n        if (typeof msg.tweet.extended_tweet.entities.media !== 'undefined') {\n            if (typeof msg.tweet.extended_tweet.entities.media[0].media_url !== 'undefined') {\n                msg.payload = msg.tweet.extended_tweet.entities.media[0].media_url_https;\n            }\n        }\n    }\n}\n\nif(typeof msg.tweet.retweeted_status !== 'undefined') {\n    if( typeof msg.tweet.retweeted_status.extended_tweet !== 'undefined') {\n        if( typeof msg.tweet.retweeted_status.extended_tweet.entities !== 'undefined') {\n            if( typeof msg.tweet.retweeted_status.extended_tweet.entities.media !== 'undefined') {\n                if( typeof msg.tweet.retweeted_status.extended_tweet.entities.media[0].media_url !== 'undefined') {\n                    msg.payload = msg.tweet.retweeted_status.extended_tweet.entities.media[0].media_url;\n                }\n            }\n        }\n    }\n}\n\n\nif( msg.payload.length ) {\n    msg.template = \"<img width=\\\"300\\\" height=\\\"300\\\" alt=\\\"Twitter Image\\\" src=\\\"\"+msg.payload+\"\\\">\";\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":"2","noerr":0,"x":200,"y":460,"wires":[["7650299a.d62c88","56a231cc.207b7","7c5b0b43.c5f524","ead6fdb6.31ae3","c7d008b5.9355a8","9652b373.e4406","63779866.a9ae38","1a7abcfd.016233"],[]]},{"id":"7650299a.d62c88","type":"debug","z":"a738870a.a13ff8","name":"Image URL to analyze","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":380,"wires":[]},{"id":"9ff79470.7cf108","type":"debug","z":"a738870a.a13ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":820,"y":540,"wires":[]},{"id":"ee67360f.9396e8","type":"debug","z":"a738870a.a13ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":720,"y":160,"wires":[]},{"id":"7e25141f.ecf80c","type":"function","z":"a738870a.a13ff8","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\nif (typeof msg.result.error != 'undefined') {\n    //The Lite Plan allows users to make 7,500 API calls for free\n    // Daily limit is  (up to 250 calls per day) \n    // {\"status\":\"ERROR\",\"statusInfo\":\"Key is over transaction limit\"}\n    msg.template = msg.result.error.message;\n    return msg;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n//            bestItem = i;\n            bestItem = 0;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 420px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":500,"wires":[["cd3cf2bb.2ff43","283577c5.96f8a8"]]},{"id":"cd3cf2bb.2ff43","type":"debug","z":"a738870a.a13ff8","name":"What did Watson find?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":520,"wires":[]},{"id":"56a231cc.207b7","type":"change","z":"a738870a.a13ff8","name":"Tweet Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":340,"wires":[["9cc8b40f.0fac88","5f352ddd.e50d64"]]},{"id":"16f3f545.05e5fb","type":"comment","z":"a738870a.a13ff8","name":"Paste API keys for Visual Recognition","info":"1. Log into IBM Cloud\n2. Create an instance of the \nWatson Visual Recognition service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":580,"y":540,"wires":[]},{"id":"a764a133.9d15","type":"delay","z":"a738870a.a13ff8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":160,"wires":[["d1a99a5a.776528","ee67360f.9396e8"]]},{"id":"78ed7106.254d4","type":"change","z":"a738870a.a13ff8","name":"Sentiment Score","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":300,"wires":[["a5173cba.e8819"]]},{"id":"7c5b0b43.c5f524","type":"change","z":"a738870a.a13ff8","name":"Twitter Handle","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.user.screen_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["4d83ac93.1e2574"]]},{"id":"ead6fdb6.31ae3","type":"function","z":"a738870a.a13ff8","name":"Tweet URL","func":"msg.template = \"<a href=\\\"https://twitter.com/\"+msg.tweet.user.screen_name+\"/status/\"+msg.tweet.id_str+\"\\\">Open Tweet</a>\";\nif( typeof msg.payload.retweeted_status != 'undefined') {\n       msg.template = \"<a href=\\\"https://twitter.com/\"+msg.tweet.retweeted_status.user.screen_name+\"/status/\"+msg.tweet.retweeted_status.id_str+\"\\\">Open Tweet</a>\";\n}\n\n//msg.payload  = \"https://twitter.com/\"+msg.tweet.user.screen_name+\"/status/\"+msg.tweet.id_str;\n//if( typeof msg.payload.retweeted_status != 'undefined') {\n//    msg.payload  = \"https://twitter.com/\"+msg.tweet.retweeted_status.user.screen_name+\"/status/\"+msg.tweet.retweeted_status.id_str;\n//}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["1cd4d6b9.2e85a9","aa27a61b.3b21a8"]]},{"id":"1cd4d6b9.2e85a9","type":"debug","z":"a738870a.a13ff8","name":"Open Tweet","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"template","targetType":"msg","x":830,"y":220,"wires":[]},{"id":"dbc41b03.769ad8","type":"debug","z":"a738870a.a13ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"template","targetType":"msg","x":830,"y":420,"wires":[]},{"id":"c7d008b5.9355a8","type":"visual-recognition-v3","z":"a738870a.a13ff8","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":570,"y":500,"wires":[["7e25141f.ecf80c","9ff79470.7cf108"]]},{"id":"3ec38246.707c0e","type":"change","z":"a738870a.a13ff8","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":840,"wires":[["a2d7c24d.66d15","b5a10c2c.8d7d8"]]},{"id":"ba90d687.4bb108","type":"debug","z":"a738870a.a13ff8","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":1040,"wires":[]},{"id":"a2d7c24d.66d15","type":"switch","z":"a738870a.a13ff8","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":980,"wires":[["4658a4bc.f9204c"],["634f8110.1ddbd"],["518126e9.daa268"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"4658a4bc.f9204c","type":"change","z":"a738870a.a13ff8","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":920,"wires":[["946cfb4d.b01eb8","ba90d687.4bb108"]]},{"id":"634f8110.1ddbd","type":"change","z":"a738870a.a13ff8","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":980,"wires":[["946cfb4d.b01eb8","ba90d687.4bb108"]]},{"id":"518126e9.daa268","type":"change","z":"a738870a.a13ff8","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1040,"wires":[["946cfb4d.b01eb8","ba90d687.4bb108"]]},{"id":"b5a10c2c.8d7d8","type":"debug","z":"a738870a.a13ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1240,"y":840,"wires":[]},{"id":"bf8eec7b.c7828","type":"inject","z":"a738870a.a13ff8","name":"Init Dashboard","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":100,"wires":[["788ce4e5.cd762c"]]},{"id":"788ce4e5.cd762c","type":"function","z":"a738870a.a13ff8","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '© OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["d5cf19a9.c886c8"]]},{"id":"d5cf19a9.c886c8","type":"template","z":"a738870a.a13ff8","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=624px width=768px></iframe>","x":650,"y":100,"wires":[["b15b65ea.bf2d68"]]},{"id":"1a7abcfd.016233","type":"switch","z":"a738870a.a13ff8","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":760,"wires":[["d40ea036.dced6"]]},{"id":"d40ea036.dced6","type":"change","z":"a738870a.a13ff8","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"insert mapbox access token here","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":760,"wires":[["a2914eda.27d8e","f041cc0e.3d82e"]]},{"id":"a2914eda.27d8e","type":"http request","z":"a738870a.a13ff8","name":"MapBox HTTP Request","method":"GET","ret":"txt","url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","x":1070,"y":760,"wires":[["d5a3d546.a25db8","bca0faac.1cada8"]]},{"id":"d5a3d546.a25db8","type":"json","z":"a738870a.a13ff8","name":"","property":"payload","action":"","pretty":false,"x":1270,"y":760,"wires":[["a2c923ac.543e1"]]},{"id":"a2c923ac.543e1","type":"change","z":"a738870a.a13ff8","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":840,"wires":[["37ec29e4.cb40f6"]]},{"id":"559e7646.93d7e8","type":"comment","z":"a738870a.a13ff8","name":"MapBox Forward GeoCode API","info":"","x":610,"y":720,"wires":[]},{"id":"f041cc0e.3d82e","type":"debug","z":"a738870a.a13ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":720,"wires":[]},{"id":"98842e7b.1f099","type":"function","z":"a738870a.a13ff8","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":340,"wires":[["c367fb57.80f2c8"]]},{"id":"c367fb57.80f2c8","type":"cloudant out","z":"a738870a.a13ff8","name":"","cloudant":"","database":"tweetdata","service":"node-red-uktcj-cloudant-1593236306293-70783","payonly":true,"operation":"insert","x":1260,"y":340,"wires":[]},{"id":"c0f6d736.6968d8","type":"comment","z":"a738870a.a13ff8","name":"Paste API keys for Watson Text to Speech","info":"1. Log into IBM Cloud\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.\n\nOr\n1. Open this Cloud Foundry Node-RED Starter App\n2. Create a new Connection\n3. Bind the Watson Text to Speech service\n4. Restage your Cloud Foundry application","x":860,"y":600,"wires":[]},{"id":"da4a93b3.dd31c","type":"watson-text-to-speech","z":"a738870a.a13ff8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"jO4ZZaRdh_OvIg61fDIvmZ4Ul9SxhETcDyCF8GhulUAh","payload-response":true,"service-endpoint":"","x":840,"y":640,"wires":[["8a3bb121.85b5e"]]},{"id":"63779866.a9ae38","type":"function","z":"a738870a.a13ff8","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2} biz com co edu gov info net org ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+ $)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":640,"wires":[["da4a93b3.dd31c"]]},{"id":"bca0faac.1cada8","type":"debug","z":"a738870a.a13ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":700,"wires":[]},{"id":"d52c0563.9b6a78","type":"ui_switch","z":"a738870a.a13ff8","name":"","label":"Enable / Disable","tooltip":"","group":"dab40427.7b8ad8","order":1,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":160,"wires":[["a764a133.9d15"]]},{"id":"1358435b.943edd","type":"ui_text","z":"cc198d9.720067","group":"29fe2874.522d78","order":7,"width":0,"height":0,"name":"","label":"Total Received","format":"{{msg.payload}}","layout":"row-left","x":770,"y":320,"wires":[]},{"id":"acaaa546.0cd778","type":"ui_text","z":"dc9f7ad3.e40f78","group":"1b1e5982.320a56","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":750,"y":560,"wires":[]},{"id":"c3396027.d94c7","type":"ui_text","z":"1c13148b.bb60fb","group":"6c309c61.c5cb64","order":2,"width":0,"height":0,"name":"Tweet Text","label":"","format":"{{msg.payload}}","layout":"row-left","x":830,"y":200,"wires":[]},{"id":"5426d993.331928","type":"ui_text","z":"1c13148b.bb60fb","group":"6c309c61.c5cb64","order":1,"width":0,"height":0,"name":"","label":"User: ","format":"{{msg.payload}}","layout":"row-left","x":810,"y":320,"wires":[]},{"id":"9cc8b40f.0fac88","type":"ui_text","z":"a738870a.a13ff8","group":"dab40427.7b8ad8","order":3,"width":"10","height":"2","name":"Tweet Text","label":"","format":"{{msg.payload}}","layout":"row-left","x":830,"y":340,"wires":[]},{"id":"4d83ac93.1e2574","type":"ui_text","z":"a738870a.a13ff8","group":"dab40427.7b8ad8","order":2,"width":"4","height":"2","name":"","label":"User: ","format":"{{msg.payload}}","layout":"row-left","x":810,"y":460,"wires":[]},{"id":"8086e86c.5efa18","type":"ui_gauge","z":"dc9f7ad3.e40f78","name":"","group":"1bb9edb9.55a062","order":1,"width":0,"height":0,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":600,"wires":[]},{"id":"32d33781.9114f8","type":"ui_gauge","z":"1c13148b.bb60fb","name":"","group":"463d7f99.4eb62","order":1,"width":0,"height":0,"gtype":"gage","title":"Sentiment Score","label":"","format":"{{value}}","min":"-10","max":10,"colors":["#ff0000","#e6e600","#008040"],"seg1":"","seg2":"","x":1200,"y":160,"wires":[]},{"id":"a5173cba.e8819","type":"ui_gauge","z":"a738870a.a13ff8","name":"","group":"dab40427.7b8ad8","order":5,"width":"4","height":"2","gtype":"gage","title":"Sentiment Score","label":"","format":"{{value}}","min":"-10","max":10,"colors":["#ff0000","#e6e600","#008040"],"seg1":"","seg2":"","x":1240,"y":300,"wires":[]},{"id":"1476ae07.16ae62","type":"ui_chart","z":"cc198d9.720067","name":"","group":"29fe2874.522d78","order":6,"width":"30","height":"15","label":"Sentiment","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Waiting for Data","dot":true,"ymin":"-5","ymax":"5","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1520,"y":660,"wires":[[]]},{"id":"e1a7019b.350e","type":"ui_chart","z":"dc9f7ad3.e40f78","name":"","group":"1b1e5982.320a56","order":2,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":750,"y":640,"wires":[[]]},{"id":"90b79ee4.b7ef4","type":"ui_ui_control","z":"1c13148b.bb60fb","name":"","x":820,"y":280,"wires":[[]]},{"id":"d82f7927.4a68f8","type":"ui_template","z":"1c13148b.bb60fb","group":"6c309c61.c5cb64","name":"Photo","order":4,"width":"9","height":"9","format":"<div ng-bind-html></div>\n<img width=\"300\" height=\"300\" alt=\"Twitter Image\" src=\"{{msg.payload}}\"/>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":570,"y":280,"wires":[["90b79ee4.b7ef4"]]},{"id":"d06b7c99.d1ee9","type":"ui_template","z":"1c13148b.bb60fb","group":"e647df2c.e297b","name":"Results Table","order":1,"width":"9","height":"10","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":360,"wires":[[]]},{"id":"4ef21e02.9df9","type":"ui_template","z":"1c13148b.bb60fb","group":"6c309c61.c5cb64","name":"Open Tweet","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":830,"y":120,"wires":[[]]},{"id":"9652b373.e4406","type":"ui_template","z":"a738870a.a13ff8","group":"dab40427.7b8ad8","name":"Photo","order":6,"width":"8","height":"12","format":"","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":530,"y":420,"wires":[["dbc41b03.769ad8"]]},{"id":"283577c5.96f8a8","type":"ui_template","z":"a738870a.a13ff8","group":"dab40427.7b8ad8","name":"Results Table","order":7,"width":"8","height":"12","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1040,"y":480,"wires":[[]]},{"id":"aa27a61b.3b21a8","type":"ui_template","z":"a738870a.a13ff8","group":"dab40427.7b8ad8","name":"Open Tweet","order":4,"width":"2","height":"2","format":"<br><br>\n<a href={{msg.payload}}>Open Tweet</a>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":830,"y":260,"wires":[[]]},{"id":"b15b65ea.bf2d68","type":"ui_template","z":"a738870a.a13ff8","group":"dab40427.7b8ad8","name":"Embedded Map","order":8,"width":"8","height":"12","format":"<div ng-bind-html=\"msg.payload   trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":100,"wires":[[]]},{"id":"946cfb4d.b01eb8","type":"worldmap","z":"a738870a.a13ff8","name":"","lat":"","lon":"","zoom":"","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","hiderightclick":"false","coords":"none","path":"","x":1220,"y":920,"wires":[]},{"id":"19be5503.5a9a0b","type":"twitter in","z":"f478d4a3.570278","twitter":"6ae60c25.881a24","tags":"#covid_19","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["55a7bd71.6ceca4","cb02850e.6b9438","604b0527.5c66bc"]]},{"id":"5b9048ab.95ac78","type":"twitter in","z":"b78ad39a.ea64b","twitter":"6ae60c25.881a24","tags":"#covid_19","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["16c14d04.5c00a3","d487e64.d2d6018","135a9ccd.7b2fa3"]]},{"id":"82577b17.b0f528","type":"twitter in","z":"d503b655.240778","twitter":"6ae60c25.881a24","tags":"#covid_19","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["40dd182f.d320a8","8cb1229c.e990c","7fe5c905.aeceb8"]]},{"id":"4414c292.f0516c","type":"twitter in","z":"41ccf91a.939f88","twitter":"6ae60c25.881a24","tags":"#covid_19","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["608f58f4.a18498","f84c56a8.51b018","96ad0ce8.05d12"]]},{"id":"4712a65c.b59668","type":"twitter in","z":"73cf6c2f.84e734","twitter":"6ae60c25.881a24","tags":"#covid_19","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["124b92e8.6f2fbd","60db4f4.e4cd8b","78b5b0d7.2ed1f"]]},{"id":"524e9267.07302c","type":"twitter in","z":"dc9f7ad3.e40f78","twitter":"6ae60c25.881a24","tags":"#covid_19","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["d1f09de8.c49c3","c8068402.16c118","aec4e488.f63188"]]},{"id":"515d632c.472efc","type":"twitter in","z":"1c13148b.bb60fb","twitter":"6ae60c25.881a24","tags":"#covid_19","user":"false","name":"","inputs":1,"x":90,"y":80,"wires":[["c0cbfa4f.c66a48"]]},{"id":"46b9cfe1.4f0ea","type":"twitter in","z":"a738870a.a13ff8","twitter":"6ae60c25.881a24","tags":"#covid_19","user":"false","name":"","inputs":1,"x":130,"y":160,"wires":[["d52c0563.9b6a78"]]},{"id":"c200ff73.bf41","type":"twitter out","z":"b78ad39a.ea64b","twitter":"6ae60c25.881a24","name":"Retweet positive tweets","x":920,"y":320,"wires":[]},{"id":"5e9a9ecc.16283","type":"twitter out","z":"41ccf91a.939f88","twitter":"6ae60c25.881a24","name":"Retweet positive tweets","x":920,"y":320,"wires":[]},{"id":"4c757e69.bafa8","type":"twitter out","z":"73cf6c2f.84e734","twitter":"6ae60c25.881a24","name":"Retweet positive tweets","x":920,"y":320,"wires":[]},{"id":"77f55b28.d99fd4","type":"twitter out","z":"dc9f7ad3.e40f78","twitter":"6ae60c25.881a24","name":"Retweet positive tweets","x":920,"y":320,"wires":[]},{"id":"cce82ef8.5d2ad","type":"twilio out","z":"b78ad39a.ea64b","twilio":"79146d82.4e7754","number":"","name":"SMS to Phone","x":900,"y":360,"wires":[]},{"id":"c0a07f2e.d76c2","type":"twilio out","z":"41ccf91a.939f88","twilio":"4d760601.32ea58","number":"","name":"SMS to Phone","x":900,"y":360,"wires":[]},{"id":"2699b9c1.25c266","type":"twilio out","z":"73cf6c2f.84e734","twilio":"91d1c998.ca6ad8","number":"","name":"SMS to Phone","x":900,"y":360,"wires":[]},{"id":"1cad47ab.b84ca8","type":"twilio out","z":"dc9f7ad3.e40f78","twilio":"d53d2bab.600258","number":"","name":"SMS to Phone","x":900,"y":360,"wires":[]},{"id":"b0d730a8.a50c3","type":"play audio","z":"41ccf91a.939f88","name":"","voice":"0","x":730,"y":520,"wires":[]},{"id":"8a3bb121.85b5e","type":"play audio","z":"a738870a.a13ff8","name":"","voice":"","x":1030,"y":640,"wires":[]},{"id":"2d6eafb7.8b401","type":"Twitter Stream","z":"cc198d9.720067","connection":"d10aa6ea.86ecd8","follow":"","topics":"covid_19","tweetLimit":"0","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en","debug":false,"name":"","x":100,"y":320,"wires":[["caadfe13.092b7","2454240a.62ce9c","26444f92.5581a"]]},{"id":"7af85234.6f43bc","type":"sentiment","z":"cc198d9.720067","name":"","property":"payload","x":750,"y":480,"wires":[["a9b05380.773bf","70553ee2.0051f","8357d2dc.4b687","1eed6b13.8d7fe5"]]},{"id":"c5dab511.515168","type":"sentiment","z":"b78ad39a.ea64b","name":"Sentiment of Tweets","x":350,"y":340,"wires":[["72fd8048.53d67","93de3ce.1f8cec"]]},{"id":"b92a953b.a90f78","type":"sentiment","z":"41ccf91a.939f88","name":"Sentiment of Tweets","x":350,"y":340,"wires":[["539469d1.593268","68b48bf4.b519d4","3c31195a.ee7976"]]},{"id":"6f938076.25a94","type":"sentiment","z":"73cf6c2f.84e734","name":"Sentiment of Tweets","x":350,"y":340,"wires":[["8aca8af3.8bce48","f23c70c5.2e412","409c5e35.9f45b"]]},{"id":"5a667db4.560124","type":"sentiment","z":"dc9f7ad3.e40f78","name":"Sentiment of Tweets","x":350,"y":340,"wires":[["16974683.f62799","f54aa6df.625738","17b5b45e.91cb2c"]]},{"id":"32794080.fe4a3","type":"sentiment","z":"1c13148b.bb60fb","name":"","property":"payload","x":820,"y":160,"wires":[["2bd05257.c879be"]]},{"id":"5f352ddd.e50d64","type":"sentiment","z":"a738870a.a13ff8","name":"","x":820,"y":300,"wires":[["78ed7106.254d4","98842e7b.1f099"]]},{"id":"37ec29e4.cb40f6","type":"sentiment","z":"a738870a.a13ff8","name":"","property":"payload","x":790,"y":840,"wires":[["3ec38246.707c0e"]]},{"id":"caadfe13.092b7","type":"counter","z":"cc198d9.720067","inc":"","name":"","x":350,"y":320,"wires":[["bfaec08e.4225d"]]},{"id":"70553ee2.0051f","type":"smooth","z":"cc198d9.720067","name":"","property":"sentiment.score","action":"mean","count":"100","round":"1","mult":"single","reduce":false,"x":750,"y":660,"wires":[["66bb76e9.150908"]]},{"id":"8357d2dc.4b687","type":"smooth","z":"cc198d9.720067","name":"","property":"sentiment.score","action":"mean","count":"1000","round":"1","mult":"single","reduce":false,"x":750,"y":780,"wires":[["ef23223.da4bee"]]},{"id":"1eed6b13.8d7fe5","type":"smooth","z":"cc198d9.720067","name":"","property":"sentiment.score","action":"mean","count":"20","round":"1","mult":"single","reduce":false,"x":750,"y":540,"wires":[["5874baa3.2d6494"]]}]
